# ---- Server ----
NODE_ENV=development
PORT=5000

# ---- Database ----
MONGO_URI=mongodb://127.0.0.1:27017/Claritii

# ---- Auth ----
JWT_SECRET=hello_mister_india_would_you_like_to_have_cigar_or_tea
JWT_EXPIRES_IN=7d

# ---- Frontend (CORS) ----
CLIENT_ORIGIN=http://localhost:5173